/*
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Handwriting", sans-serif;
  font-size: 35px;
  color: blue;
}

.container {
  border-radius: 5px;

  background-color: peachpuff;
  width: 400px;
  height: 330px;
  border: 2px solid black;
  padding: 50px;
  position: absolute;
  left: 27%;
}

.td {
  width: 160px;
  padding: 50px;
}

.tdLabel {
  font-size: 18px;
  color: rgba(255, 0, 0, 0.671);
}

.d1 {
  font-weight: italic;
}
*/

/* Styling the Body element i.e. Color,
        Font, Alignment */
.body {
  background-color: #05c46b;
  font-family: Verdana;
  text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
.form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
  text-align: left;
  margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

/* Styling Button */
button {
  background-color: #05c46b;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}